<h1>Articles</h1>

<?php foreach ($this->articles as $article) :?>
<h2><a href="<?= $this->url(array('id' => $article->getId()), 'coreArticleView') ?>">
<?= $article->getTitle()?>
</a></h2>
<p><?= $article->getContent()?></p>
<?php endforeach;?>